.captcha_img {
    cursor:pointer;
    height:40px;
    width:173px;
}

#microservices {
    display:block;
}

#flow_one {
    display:none;
}

#flow_two {
    display:none;
}

#flow_three {
    display:none;
}

#order_change_panel {
    margin-left:200px;
    top:100px;
    /*width:800px;*/
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    padding: 30px;
    font-size: 12px;
    position: fixed;
    text-align: center;
    background: #fff;
    z-index: 100;
}

#order_cancel_panel {
    margin-left:200px;
    top:100px;
    /*width:800px;*/
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    padding: 30px;
    font-size: 12px;
    position: fixed;
    text-align: center;
    background: #fff;
    z-index: 100;
}

.result_table {
    height:200px;
    overflow: scroll;
}